/*canvas {
    background-color: white;
}*/

/*#container {
    border: black 3px solid;
    background-color: white;
}*/

/*#dataPictureArea {
    background-color: red;
}


#dataTableArea {
    background-color: yellow;
}


#codeArea {
    background-color: green;
}


#checkArea {
    background-color: purple;
}

#descriptionArea {
    background-color: blue;
}*/